<form action="/login" method="POST">

  <label for="email">Email</label>
  <input id="email" type="text" name="ironhacker@gmail.com">

<label for="password">Password</label>
<input id="password" type="password" name="password">

  <button type="submit"> Login </button>

</form>
{{!-- user/email input, type is text. password input, type is password. --}}

{{!-- method tells our form to make a post request, for browser to securely send data to the server. login forms or submitting information, always use post request forms.--}}